{% extends "base.html" %}

{% block title %}
Контакты фирмы
{% endblock %}

{% block body %}
<h1>Страница с контактами</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Optio ad tenetur id beatae!</li>
<li>Nihil saepe eos recusandae quibusdam.</li>
<li>Rem iure odio sed sint!</li>
<li>Nesciunt quod harum illo nihil.</li>
<li>Possimus, provident amet. Neque, corrupti.</li>
<li>Vero nostrum similique accusantium veniam!</li>
<li>Natus, corrupti architecto. Natus, aliquid.</li>
<li>Voluptate saepe ut perferendis animi?</li>
<li>Explicabo voluptatibus illo dolores eius.</li>
<li>Officia eaque labore saepe dolorem?</li>
<li>Sunt ipsam ut assumenda tempore.</li>
<li>Odio praesentium rem inventore! Officia!</li>
<li>Numquam dolor enim optio ratione!</li>
<li>Eaque, tempora quisquam? Nesciunt, eaque.</li>
<li>Saepe ipsam atque quo architecto.</li>
<li>Temporibus omnis error veritatis illo.</li>
<li>Corporis deleniti unde nisi delectus.</li>
<li>Animi sapiente beatae vero voluptates.</li>
<li>Cum esse facilis obcaecati numquam.</li>
<li>Assumenda sint consequatur tenetur porro?</li>
<li>A esse aperiam fugit adipisci!</li>
<li>Adipisci natus ad eos amet.</li>
<li>Culpa blanditiis eum tempore deserunt.</li>
<li>Facilis et adipisci velit ab.</li>
<li>Quae quo illo facere itaque.</li>
<li>Nostrum quisquam optio fugiat maiores.</li>
<li>Iure minima deserunt modi amet.</li>
<li>Est inventore provident quasi non.</li>
<li>Laudantium quas nemo corporis consequuntur.</li>
<li>In, quia nostrum! Hic, labore!</li>
<li>Ipsam quidem nostrum similique at!</li>
<li>Ad atque totam natus earum.</li>
<li>Reprehenderit accusantium harum dolores dolorum!</li>
<li>Nihil pariatur doloremque delectus ad?</li>
<li>Harum velit quisquam quas laborum.</li>
<li>Quasi quam repellat nobis nesciunt.</li>
<li>Inventore et possimus harum. Quaerat!</li>
<li>Fuga totam dolorem ex repellat?</li>
<li>Officia tenetur neque animi nam.</li>
<li>Rerum enim dolor excepturi impedit.</li>
<li>Eaque minima libero nulla? Similique.</li>
<li>Inventore, blanditiis autem. Dolores, sequi?</li>
<li>Ipsam impedit facilis laborum accusantium.</li>
<li>Pariatur eaque nulla doloremque repellendus?</li>
<li>Delectus autem recusandae rerum vero!</li>
<li>Consequatur, quam recusandae! Ab, impedit?</li>
<li>Vitae architecto tempore dolore itaque!</li>
<li>Voluptatum expedita natus voluptatem ut?</li>
<li>Nostrum dolorem sunt nobis nihil?</li>
<li>Culpa nisi excepturi facere qui.</li>
<li>Qui veritatis harum sed nam?</li>
<li>Aliquam sunt dolorum assumenda nemo?</li>
<li>Autem inventore dolorem adipisci at.</li>
<li>At officiis soluta ut sunt?</li>
<li>Optio sapiente soluta culpa minima.</li>
<li>Quia, reprehenderit eveniet. Quo, atque?</li>
<li>Reiciendis quam corrupti eaque repudiandae.</li>
<li>Vero illum quia iure in.</li>
<li>Dolorem, dolor possimus! Laudantium, illo.</li>
<li>Laboriosam ab suscipit expedita nisi!</li>
<li>Qui reiciendis necessitatibus consectetur assumenda.</li>
<li>Nam fugit quisquam quibusdam velit.</li>
<li>Atque culpa officia facere odit!</li>
<li>Harum nihil sit reiciendis perspiciatis!</li>
<li>Sed architecto soluta commodi iste.</li>
<li>Aut impedit ullam quisquam dolorem.</li>
<li>Laudantium nulla quo quaerat placeat.</li>
<li>Autem nisi voluptates delectus iure!</li>
<li>Exercitationem dignissimos id vero quis.</li>
{% endblock %}